* {
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-size: 14px;
  font-family:
    'Outfit',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  min-width: 360px;
  margin: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: rgba(11, 18, 54, 1);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
}

input,
input:focus,
input:active,
input:focus-visible {
  border: none;
  outline: none;
  padding: 0;
}

textarea,
textarea:focus,
textarea:active,
textarea:focus-visible {
  border: none;
  outline: none;
  padding: 0;
}

td,
th {
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  outline: none;
}
